.intro__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 700px;
    border: 5px solid white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 250px;
}

.intro__game-name {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 39px;
    font-weight: 900;
}

.intro__game-title {
    margin: -11px;
}

.intro__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 60px;
    border-radius: 8px;
}

.intro__score-result {
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
}

.intro__header-advanced {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 700px;
    border: 5px solid white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.intro__game-name-advanced {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.intro__game-title-advanced {
    margin: -11px;
}

.intro__results-advanced {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 13px 60px;
    border-radius: 8px;
}

.intro__score-result-advanced {
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
}

@media (max-width: 630px) {
    .intro__game-name {
        font-size: 30px;
    }

    .intro__game-name-advanced {
        font-size: 20px;
    }

    .intro__game-title-advanced {
        margin: -7px;
    }

    .intro__results-advanced {
        padding: 4px 45px;
    }
}

@media (max-width: 420px) {
    .intro__game-name {
        font-size: 15px;
    }

    .intro__game-name-advanced {
        font-size: 15px;
    }

    .intro__game-title-advanced {
        margin: -4px;
    }

    .intro__results-advanced {
        padding: 4px 30px;
    }

    .intro__game-title {
        margin: -4px;
    }

    .intro__results {
        padding: 0px 30px;
    }

    .intro__header {
        padding: 15px 25px;
    }
}