.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro__triangle {
    display: flex;
}

.intro__hands-img {
    height: 4rem;
}

.intro-buttons {
    position: relative;
    top: -220px;
    margin-top: 150px;
}

.intro__scissors-outer-circle {
    width: 210px;
    height: 210px;
    background-color: rgb(255, 233, 35);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -95px;
    left: 70px;
}

.intro__paper-outer-circle {
    width: 210px;
    height: 210px;
    background-color: rgb(54 95 236);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -90px;
    left: -255px;
}

.intro__rock-outer-circle {
    width: 210px;
    height: 210px;
    background-color: rgb(252, 104, 104);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 187px;
    left: -100px;
}

.intro__scissors-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 165px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1px 9px 0px 0px rgb(182 181 181 / 28%);;
}

.intro__paper-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 165px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1px 9px 0px 0px rgb(182 181 181 / 28%);;
}

.intro__rock-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 165px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1px 9px 0px 0px rgb(182 181 181 / 28%);
}

.intro__triangle {
    position: absolute;
    height: 350px;
    width: 450px;
    left: -190px;
}

.intro__three-hands {
    position: absolute;
    cursor: pointer;
}

.intro__hands {
    height: 90px;
}

