* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body, html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.app_main {
  background-color: rgb(0, 69, 207);
  background-image: radial-gradient(circle at top center, hsl(214deg 43.06% 52.15%), hsl(237deg 54.98% 16.46%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app_main-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app_main-footer-choose-mode,
.app_main-footer-rules {
  padding: 8px 25px;
  border: 1px solid white;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15vh;
}

.app_main-rules {
  z-index: 1;
  background-color: aliceblue;
  position: absolute;
  height: 52vh;
  width: 51vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.app_main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  padding: 0 40px;
}

.app_main-rules-image {
  height: 30vh;
}

.app_main-close-button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border-radius: 8px;
}

.app_main-title {
  font-size: 40px;
  font-weight: 900;
  color: rgb(63, 63, 63);
}

@media (max-width: 830px) {
  .app_main-rules {
    height: 100vh;
    width: 100vw;
  }

  .app_main-header {
    flex-direction: column;
  }

  .app_main-close-button {
    position: absolute;
    top: 1000px;
  }

  .app_main-title {
    position: absolute;
    top: 200px;
  }
}